.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    row-gap: 10px;
    column-gap: 10px;
}

@media only screen and (min-width: 300px) and (max-width: 767px){
    .grid {
        display: grid;
        grid-template-columns: 300px 300px;
        row-gap: 10px;
        column-gap: 10px;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .grid {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        row-gap: 10px;
        column-gap: 10px;
    }
    
}